body {
	background-color: #F4F3EE !important;
}

.eerie-black {
	color: #0D1321;
}
.charcoal {
	color: #2F4550;
}
.trolley-grey {
	color: #7C7C7C;
}
.isabelline {
	color: #F4F3EE;
}
.rackley {
	color: #5B85AA;
}

.align-center {
	align: center;
}

.text-red {
	color: red;
}

.user-table {
	margin-left: 200px;
	width: 80%;
	height: 150px;
	text-align: center;
}
.navbar {
	background-color: #F4F3EE; !important;
	
}
.img-responsive {
	width: 600px;
	height: 250px;
}	


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.comment_window {
	width: 90%;
	min-height: 100px;
}
.text_red {
	color:red;
}
.rcorner {
  
    background-color: #C9CBA3;
    padding: 20px; 
}
.hor_line{
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.margin-left-comment-window {
	margin-left: 300px;
}

.ui-content {
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 1em
}
.text-overflow {
	text-overflow: clip;
}

